body {
    margin: 0;
    padding: 0;
    color: #2a2a2a;
    background: #cd9feb;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 20px;
    line-height: 150%;
}

h1 {
    background: #d29cff;
    color: #2a2a2a;

    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 150%;
    letter-spacing: 4px;

    border: solid 6px black;
    padding: 60px;
    max-width: 672px;
    margin: 0px auto;
    margin-bottom: 24px;
    border-radius: 60px;
    display: block;
}

.wrapper {
    background: #e6bcf7;
    max-width: 972px;
    margin: 0px auto;
    padding: 20px 40px;
}

.wrapper > header {
    display: inline-flex;
    align-items: center;
    justify-content: left;

    padding: 10px;
}

a:link, a:visited {
    margin: 0px auto;
    color: red;
}

a:hover {
    margin: 0px auto;
    color: green;
}

.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
}

.gallery-item {
    width: 300px;
    text-align: center;
} 

.gallery-item p {
    margin: .25em 0;
    line-height: 135%;
}

.site-logo-image {
    max-width: 200px;
}

 .sitenav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 32px;
}
   
.sitenav a {
    justify-self: center;
    color: white;
    background: pink;
    text-decoration: none;
    border-left: solid white 2px;
    border-right: solid white 2px;
    padding: 0px 28px;
 }

.sitenav a:hover {
    color: pink;
    background: white;
 }